.button{
    background-color: $kyaru-blue;
    border: 2px solid $grey-bone;
    border-radius: 2px;
    color: $grey-bone;
    display: inline-block;
    font-size: $font-size-l;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link{
    background: none;
    border: none;
    color: $kyaru-blue;
}

.button--danger{
    @extend .button;
    background-color: #cc0000;
}