.header{
    background: $kyaru-lightblue;
}

.header__content{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title{
    color: $kyaru-blue;
    text-decoration: none;
    h1:{
        margin:0;
    }
}