// Colors
$light-grey: #dbdbdb;
$grey-bone: #eeeeee;
$kyaru-purple: #993366;
$kyaru-blue: #333366;
$kyaru-lightblue: #c8c8e4;

//sizes-font
$font-size-l: 1.8rem;

//sizes-spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;